<% var data = {
  title: "MAIN",
  author: ""
  }; %><%= _.template(require('../includes/head.html').default)(data) %><%= _.template(require('../includes/header.html').default)(data) %> <main>
  <div class="page">
    <div class="breadcrumbs">
      <div class="container">
        <div class="breadcrumbs__items">
          <ul>
            <li>
              <a href="/">
                <span>
                  <img src="img/Home.svg" alt="">
                </span>
              </a>
            </li>
            <li>
              <a href="">
                <span>Каталог</span>
              </a>
            </li>
            <li>
              <span>Мясо, птица</span>
            </li>
          </ul>
        </div>
        <!-- /.breadcrumbs__items -->
      </div>
      <!-- /.container -->
    </div>
    <!-- /.breadcrumbs -->
    <div class="container">
      <div class="pageaside">
        <div class="pageaside__aside">
          <aside>
            <div class="pageaside__items">
              <div class="pageaside__item">
                <a href="#" class="pageaside__link">
                  <span class="pageaside__icon">
                    <img src="img/like.svg" alt="">
                  </span>
                  <span class="pageaside__text">Нравится</span>
                </a>
              </div>
              <div class="pageaside__item">
                <a href="#" class="pageaside__link">
                  <span class="pageaside__icon">
                    <img src="img/dislike.svg" alt="">
                  </span>
                  <span class="pageaside__text">Не нравится</span>
                </a>
              </div>
              <div class="pageaside__item">
                <a href="#" class="pageaside__link">
                  <span class="pageaside__icon">
                    <img src="img/share.svg" alt="">
                  </span>
                  <span class="pageaside__text">Поделиться</span>
                </a>
              </div>
              <div class="pageaside__item">
                <a href="#" class="pageaside__link">
                  <span class="pageaside__icon">
                    <img src="img/comment.svg" alt="">
                  </span>
                  <span class="pageaside__text">Обсудить</span>
                </a>
              </div>
            </div>
          </aside>
        </div>
        <div class="pageaside__main">
          <div class="pageheader">
            <h1>Новая коллекция знаков 2022</h1>
          </div>
          <div class="pageparams">
            <div class="itemslistcard__params">
              <div class="itemslistcard__param">
                <span class="itemslistcard__icon"><img src="img/date.svg" alt=""></span>
                <span class="itemslistcard__text">21 февраля, 2022 года</span>
              </div>
            </div>
          </div>
          <div class="pagecontent__image">
            <a href='img/newsdetail1.jpg' data-lightbox='pagecontent__images_1' class="pagecontent__img">
              <img src="img/newsdetail1.jpg" alt="">
            </a>
          </div>
          <!-- /.pageparams -->
          <div class="pagecontent">
              
              
              <div class="pagecontent__content">
              <h2>Отличие №1: заголовок</h2>
              <p>С другой стороны сложившаяся структура организации представляет собой интересный эксперимент проверки новых предложений. Задача организации, в особенности же реализация намеченных плановых заданий способствует подготовки и реализации соответствующий условий активизации. </p>

              <h2>Отличие №1: заголовок</h2>
              <p>С другой стороны сложившаяся структура организации представляет собой интересный эксперимент проверки новых предложений. Задача организации, в особенности же реализация намеченных плановых заданий способствует подготовки и реализации соответствующий условий активизации. </p>

              <h2>Отличие №1: заголовок</h2>
              <p>С другой стороны сложившаяся структура организации представляет собой интересный эксперимент проверки новых предложений. Задача организации, в особенности же реализация намеченных плановых заданий способствует подготовки и реализации соответствующий условий активизации. </p>

                <p>Равным образом постоянное информационно-пропагандистское обеспечение нашей деятельности играет важную роль в формировании дальнейших направлений развития. Задача организации, в особенности же новая модель организационной деятельности представляет собой интересный эксперимент проверки соответствующий условий активизации. </p>
                
                  <p> С другой стороны реализация намеченных плановых заданий представляет собой интересный эксперимент проверки направлений прогрессивного развития.</p>

                  <div class="pagecontent__image">
                    <a href='img/newsdetail2.jpg' data-lightbox='pagecontent__images_1' class="pagecontent__img">
                      <img src="img/newsdetail2.jpg" alt="">
                    </a>
                  </div>

                </div>
          </div>
        </div>
      </div>
     
    </div>
    <div class="pageblocksl morenewsslider">
      <div class="container">
        <div class="blockheader flex items-center content-between">
          <div class="blockheader__left">
            <h2>Другие статьи</h2>
            <a href="#">Смотреть все</a>
          </div>
          <!-- /.blockheader__left -->
          <div>
            <div class="sliderarrows flex">
              <div class="sliderarrows__left">
                <img src="img/left.svg" alt="">
              </div>
              <!-- /.sliderarrows__left -->
              <div class="sliderarrows__right">
                <img src="img/right.svg" alt="">
              </div>
              <!-- /.sliderarrows__right -->
            </div>
            <!-- /.sliderarrows -->
          </div>
        </div>
        <!-- /.blockheader -->
        <div class="itemslistslider__wrapper">
          <div class="itemslistslider__container">
            <div class="itemslist__slider morenews__slider ">
              <div class="itemslistslider__slide">
                <div class="itemslistslider__item">
                  <div class="itemslistcard itemslistcar_large">
                    <div class="itemslistcard__wrapper">
                      <a href="#" class="itemslistcard__image">
                        <div class="itemslistcard__img">
                          <img src="img/newsslider1.jpg" alt="">
                        </div>
                      </a>
                      <!-- /.itemslistcard__image -->
                      <div class="itemslistcard__info">
                        <div class="itemslistcard__params">
                          <div class="itemslistcard__param">
                            <span class="itemslistcard__text">14.05.2022</span>
                          </div>
                        </div>
                        <!-- /.itemslistcard__params -->
                      </div>
                      <div class="itemslistcard__title">
                        <a href="">Обязательные правила безопасности в условиях пандемии</a>
                      </div>
                      <div class="itemslistcard__anonce"> Дополнительные меры гигиены и безопасности, принятые на производстве Мясницкий ряд в у... </div>
                      <!-- /.itemslistcard__anonce -->
                      <!-- /.itemslistcard__info -->
                    </div>
                    <!-- /.itemslistcard__wrapper -->
                  </div>
                  <!-- /.itemslistcard -->
                </div>
                <!-- /.itemslistslider__item -->
              </div>
              <!-- /.itemslistslider__slide -->
              <div class="itemslistslider__slide">
                <div class="itemslistslider__item">
                  <div class="itemslistcard itemslistcar_large">
                    <div class="itemslistcard__wrapper">
                      <a href="#" class="itemslistcard__image">
                        <div class="itemslistcard__img">
                          <img src="img/newsslider2.jpg" alt="">
                        </div>
                      </a>
                      <!-- /.itemslistcard__image -->
                      <div class="itemslistcard__info">
                        <div class="itemslistcard__params">
                          <div class="itemslistcard__param">
                            <span class="itemslistcard__text">14.05.2022</span>
                          </div>
                        </div>
                        <!-- /.itemslistcard__params -->
                      </div>
                      <div class="itemslistcard__title">
                        <a href="">Обязательные правила безопасности в условиях пандемии</a>
                      </div>
                      <div class="itemslistcard__anonce"> Дополнительные меры гигиены и безопасности, принятые на производстве Мясницкий ряд в у... </div>
                      <!-- /.itemslistcard__anonce -->
                      <!-- /.itemslistcard__info -->
                    </div>
                    <!-- /.itemslistcard__wrapper -->
                  </div>
                  <!-- /.itemslistcard -->
                </div>
                <!-- /.itemslistslider__item -->
              </div>
              <!-- /.itemslistslider__slide -->
              <div class="itemslistslider__slide">
                <div class="itemslistslider__item">
                  <div class="itemslistcard itemslistcar_large">
                    <div class="itemslistcard__wrapper">
                      <a href="#" class="itemslistcard__image">
                        <div class="itemslistcard__img">
                          <img src="img/newsslider3.jpg" alt="">
                        </div>
                      </a>
                      <!-- /.itemslistcard__image -->
                      <div class="itemslistcard__info">
                        <div class="itemslistcard__params">
                          <div class="itemslistcard__param">
                            <span class="itemslistcard__text">14.05.2022</span>
                          </div>
                        </div>
                        <!-- /.itemslistcard__params -->
                      </div>
                      <div class="itemslistcard__title">
                        <a href="">Обязательные правила безопасности в условиях пандемии</a>
                      </div>
                      <div class="itemslistcard__anonce"> Дополнительные меры гигиены и безопасности, принятые на производстве Мясницкий ряд в у... </div>
                      <!-- /.itemslistcard__anonce -->
                      <!-- /.itemslistcard__info -->
                    </div>
                    <!-- /.itemslistcard__wrapper -->
                  </div>
                  <!-- /.itemslistcard -->
                </div>
                <!-- /.itemslistslider__item -->
              </div>
              <!-- /.itemslistslider__slide -->
              <div class="itemslistslider__slide">
                <div class="itemslistslider__item">
                  <div class="itemslistcard itemslistcar_large">
                    <div class="itemslistcard__wrapper">
                      <a href="#" class="itemslistcard__image">
                        <div class="itemslistcard__img">
                          <img src="img/newsslider1.jpg" alt="">
                        </div>
                      </a>
                      <!-- /.itemslistcard__image -->
                      <div class="itemslistcard__info">
                        <div class="itemslistcard__params">
                          <div class="itemslistcard__param">
                            <span class="itemslistcard__text">14.05.2022</span>
                          </div>
                        </div>
                        <!-- /.itemslistcard__params -->
                      </div>
                      <div class="itemslistcard__title">
                        <a href="">Обязательные правила безопасности в условиях пандемии</a>
                      </div>
                      <div class="itemslistcard__anonce"> Дополнительные меры гигиены и безопасности, принятые на производстве Мясницкий ряд в у... </div>
                      <!-- /.itemslistcard__anonce -->
                      <!-- /.itemslistcard__info -->
                    </div>
                    <!-- /.itemslistcard__wrapper -->
                  </div>
                  <!-- /.itemslistcard -->
                </div>
                <!-- /.itemslistslider__item -->
              </div>
              <!-- /.itemslistslider__slide -->
            </div>
          </div>
          <!-- /.itemslistslider__container -->
        </div>
      </div>
    </div>
  </div>
</main><%= _.template(require('../includes/footer.html').default)(data) %>